.root{

}



    /* ======= HEADER ========== */

.header{
    height: 78px;
    padding: 0 68px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.orange-text {
    color: #F3A46B;
}

.header__logo-img{
    width: 170px;
    height: 40px;
}

.header__nav{
    margin-left: 56px;
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item{
    height: 27px;
    position: relative;
}

.nav__item-link{
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.7rem;
    font-weight: 400;
    color: #727475;
}

.nav__item-btn{
    width: 136px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F3A46B;
    border-radius: 30px;
    cursor: pointer;

}

.nav__item-btn .nav__item-link{
    color: #fff;
    padding: 5px 20px;
}

.sub_menu-list{
    display: none;
    background-color: #fff;
    list-style: none;
    width: 188px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #f1f1f1;
    position: absolute;
    top: calc(100% + 22px);
    left: -24px;
}

.sub_menu-list::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -22px;
}

.sub_menu:hover .sub_menu-list{
    display: block;
}

.sub__item{
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.sub__item:hover{
    background-color: #f9f9f9;
}

.sub__item:first-child{
    border-radius: 2px;
}


.sub__item:last-child{
    border-bottom: 0px solid #f1f1f1;
    border-radius: 2px;
}

.sub__item-link{
    position: relative;
    width: 100%;
    display: block;
    font-size: 1.4rem;
    color: #555555;
    padding: 15px 20px;
}


.sub__item-link-new::after{
    content: "New";
    background-color: #1bbc9b;
}
.sub__item-link-hot::after{
    content: "HOT";
    background-color: #F76570;
}
.sub__item-link-hot::after,
.sub__item-link-new::after{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.sub_sub-menu{
    position: relative;
}

.sub_sub-menu::before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
    border: 6px solid;
    border-color: transparent transparent transparent #000;
}

.sub_sub-list{
    display: none;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #f1f1f1;
    position: absolute;
    left: calc(100% + 20px);
    top: 0;
    background-color: #fff
}

.sub_sub-list:before{
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 100%;
    top: 0;
    left: -20px;
}

.sub_sub-menu:hover .sub_sub-list{
    display: block;
}


/* ============== SLIDER ================= */

.slider__container{
    position: relative;
    overflow: hidden;
    height: 800px;
}
.slider{
    position: relative;
    height: 100%;
    width: 200%;
}

.slide__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: fadeIn linear 0.2s;
    will-change: opacity;
}

.slide__item-img{
    width: 100%;
    height: 100%;
}

.slider__progress{
    display: block;
    width: 0;
    height: 10px;
    background-color: #8f8d8d;
    filter: brightness(90%);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation: progressBar  8s linear 0s infinite normal;
}


.btn__change-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 34rem;
}


.btn__change-slide svg {
    padding: 12px 8px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}
.btn__change-slide svg:hover{
    background-color: #f1f1f14d;
}

.btn__change-slide-left{
    left: 20px
}

.btn__change-slide-right{
    right: calc(50% + 20px)
}

 /* SLIDER TEXT  */

 .slider__text{
    position: absolute;
    top: 23%;
    right: 10%;
    z-index: 2;
 }

 .slider__header{
    transform: rotate(-2deg);
    cursor: default;
 }

.slider__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 2px;
    padding: 5px 20px 10px;
    min-height: 60px;
    font-size: 4.5rem;
    font-weight: 600;
    background-color: #555555;
}

.slider__heading-under{
    width: fit-content;
    margin-left: 12px;
}

.slider__tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.slider-tour-list{
    list-style: none;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #fff;
    letter-spacing: 1px;
    cursor: default;
}

.slider-tour-item{
    margin-bottom: 32px;
}


.slider-tour-item span{
    margin-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
}

.slider__tour-buy{
    margin-top: 24px;
    position: relative;
}

.slider_tour-btn{
    background-color: #F3A46B;
    border-radius: 40px;
    border: none;
    width: 247px;
    height: 50px;
    transition: 0.1s ease;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.slider_tour-btn:hover{
    cursor: pointer;
    border-radius: 0;
}

.slider__tour-price{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius:25px;
    font-size:1.5rem;
    color: #fff;
    background-color: #555555;
    cursor: default;
}


.container{
    padding-bottom: 100px;
}