.root{
}
    /* ======= HEADER ========== */

.header{
    height: 78px;
    padding: 0 68px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.orange-text {
    color: #F3A46B;
}

.header__logo-img{
    width: 170px;
    height: 40px;
}

.header__nav{
    margin-left: 56px;
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item{
    height: 27px;
    position: relative;
}

.nav__item-link{
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.7rem;
    font-weight: 400;
    color: #727475;
}

.nav__item-btn{
    width: 136px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F3A46B;
    border-radius: 30px;
    cursor: pointer;

}

.nav__item-btn .nav__item-link{
    color: #fff;
    padding: 5px 20px;
}

.sub_menu-list{
    display: none;
    background-color: #fff;
    list-style: none;
    width: 188px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #f1f1f1;
    position: absolute;
    top: calc(100% + 22px);
    left: -24px;
    z-index: 10;
}

.sub_menu-list::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -22px;
    
}

.sub_menu:hover .sub_menu-list{
    display: block;
}

.sub__item{
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.sub__item:hover{
    background-color: #f9f9f9;
}

.sub__item:first-child{
    border-radius: 2px;
}


.sub__item:last-child{
    border-bottom: 0px solid #f1f1f1;
    border-radius: 2px;
}

.sub__item-link{
    position: relative;
    width: 100%;
    display: block;
    font-size: 1.4rem;
    color: #555555;
    padding: 15px 20px;
}


.sub__item-link-new::after{
    content: "New";
    background-color: #1bbc9b;
}
.sub__item-link-hot::after{
    content: "HOT";
    background-color: #F76570;
}
.sub__item-link-hot::after,
.sub__item-link-new::after{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.sub_sub-menu{
    position: relative;
}

.sub_sub-menu::before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
    border: 6px solid;
    border-color: transparent transparent transparent #000;
}

.sub_sub-list{
    display: none;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #f1f1f1;
    position: absolute;
    left: calc(100% + 20px);
    top: 0;
    background-color: #fff
}

.sub_sub-list:before{
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 100%;
    top: 0;
    left: -20px;
}

.sub_sub-menu:hover .sub_sub-list{
    display: block;
}


/* ============== SLIDER ================= */

.slider__container{
    position: relative;
    overflow: hidden;
    height: 800px;
}
.slider{
    position: relative;
    height: 100%;
    width: 200%;
}

.slide__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: fadeIn linear 0.2s;
    will-change: opacity;
}

.slide__item-img{
    width: 100%;
    height: 100%;
}

.slider__progress{
    width: 50%;
    display: block;
    width: 0;
    height: 10px;
    background-color: #8f8d8d;
    filter: brightness(90%);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation: progressBar 10s linear 0s infinite normal;
}


.btn__change-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 34rem;
}


.btn__change-slide svg {
    padding: 12px 8px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}
.btn__change-slide svg:hover{
    background-color: #f1f1f14d;
}

.btn__change-slide-left{
    left: 20px
}

.btn__change-slide-right{
    right: calc(50% + 20px)
}

 /* SLIDER TEXT  */

 .slider__text{
    position: absolute;
    top: 23%;
    right: 10%;
    z-index: 2;
 }

 .slider__header{
    cursor: default;
    transition: all linear 0.5s;
}

.slider__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 2px;
    padding: 5px 20px 10px;
    min-height: 60px;
    font-size: 4.5rem;
    font-weight: 600;
    background-color: #555555;
    transition: transform linear;
    will-change: transform;
}

.slider__heading-above{
    animation: FromRightToLeft ease-in-out 0.5s;
    transition: transform linear;
    will-change: transform;
}

.slider__heading-under{
    width: fit-content;
    margin-left: 12px;
    animation: FromLeftToRight ease-in-out 0.5s;
    transition: transform linear;
    will-change: transform;
}

.slider__tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.slider-tour-list{
    list-style: none;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #fff;
    letter-spacing: 1px;
    cursor: default;
}

.slider-tour-item{
    margin-bottom: 32px;
    animation: FromBottomToTop linear 0.5s;
}


.slider-tour-item span{
    margin-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
}

.slider__tour-buy{
    margin-top: 24px;
    position: relative;
}

.slider_tour-btn{
    background-color: #F3A46B;
    border-radius: 40px;
    border: none;
    width: 247px;
    height: 50px;
    transition: 0.1s ease;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    transform-origin: top left;
    animation: ScaleY linear 0.5s;
}

.slider_tour-btn:hover{
    cursor: pointer;
    border-radius: 0;
}

.slider__tour-price{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius:25px;
    font-size:1.5rem;
    color: #fff;
    background-color: #555555;
    cursor: default;
    animation: ScaleY linear 0.2s;
}



/* Experience */

.experience{
    display: flex;
    position: relative;
    padding: 60px;
}
.experience__intro{
    flex: 1;
    padding: 70px;
    letter-spacing: 1px;
    color: #9A9A9A;
    font-size: 1.4rem;
}
.intro__sub{
    letter-spacing: 2px;
    display: block;
    margin-bottom: 35px;
}

.intro__heading{
    font-size: 3.6rem;
    color: #555555;
    margin-bottom: 35px;
}

.underline_element{
    display: inline-block;
    width: fit-content;
    position: relative;
    z-index: 2;
}

.underline_element::before{
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color:#F3A46B;
    position: absolute;
    left: 0;
    top: calc(100%);
    z-index: -1;
}



.intro__content{
    display: flex;
    justify-content: space-between;
}

.intro__content-item{
    width: 45%;
    line-height: 2.7rem;
    text-align: justify;
}

.intro__view-more{
    display: inline-block;
    margin-top: 35px;
    background-color: #f3a46b;
    padding: 15px 35px;
    min-width: 220px;
    color: #fff;
    border-radius: 38px;
}


.experience__video{
    width: 33%;
    position: relative;
    padding-top: 660px;
    border-radius: 2px;
    background-image: url('../img/img-video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.experience__video-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

.experience__image{
    position: absolute;
    bottom: 84px;
    display: flex;
    justify-content: space-around;
}

.experience__image-item{
    padding: 15px;
    position: relative;
}

.experience__image-item-img{
    width: 200px;
    height: 200px;
}

.experience__item-price{
    border-radius: 30px;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.4rem;
    padding: 6px 20px;
    position: absolute;
    top: 34px;
    right: 40px;
    opacity: 0.9
}

.experience__item-price-1{
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.experience__item-price-2{
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.experience__item-price-3{
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}

.experience__item-price-4{
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
}


    /* ========== SERVICES ============= */

.services{
    background-color: #555555;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;;
}

.services__subtitle{
    margin-bottom: 28px;
    letter-spacing: 2px;
    line-height: 2.7rem;
}

.service__heading{
    font-size: 3.6rem;
    height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
}


.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px -15px 0 -15px;
    padding-bottom: 20px;
}

.services__item{
    margin-top: 50px;
    width: 33.333%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services__item-img{
    width: 50px;
    margin-right: 20px;
}

.services__item-container{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: space-between;
}

.services__item-heading{
    font-size: 2.4rem;
}

.services__item-content{
    padding: 20px 0;
    line-height: 2.4rem;
    letter-spacing: 1px;
}

.services__item-link{
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-radius: 15px;
    padding: 10px 20px;
    width: fit-content;
}

.sale{
    padding: 68px;
    display: flex;
    font-size: 1.4rem;
}

.sale__time{
    width: 28%;
    padding: 88px 50px;
    background-color: #F3A46B;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sale__sub-heading{
    letter-spacing: 2px;
}

.sale__heading {
    margin-top: 24px;
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
}

.sale__heading .underline_element::before{
    top: 70%;
    background-color: rgba(0, 0, 0, 0.1);
}

.sale__date{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.sale__date-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 3.6rem;
    line-height: 4rem;
    width: 50%;
    height: fit-content;
}

.sale__date-item span{
    font-size: 1.4rem;
    line-height: 3rem;
    letter-spacing: 1px;
}

.sale__check{
    border-radius: 30px;
    background-color: #fff;
    color: #F3A46B;
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 40px;
    padding: 15px 35px;
}

.sale__item{
    width: 41%;
    margin-left: 30px;
    border: 1px solid #f1f1f1;
}

.sale__item-image{
    position: relative;
}
.sale__item-img{
    width: 100%;
}

.sale__item-symbol{
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    position: absolute;
    top: 100%;
    right: 40px;
    transform: translateY(calc(-50% - 5px));
}

.sale__item-symbol-img{
    width: 26px;
    margin: auto;
}

.sale__item-content {
    padding: 30px;
}

.sale__item-address{
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.sale__item-location {
    color: #555555;
    font-size: 2rem;
    margin-bottom: 10px;  
}

.sale__item-area{
    color: #9A9A9A;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 10px;
}

.sale__item-area i{
    color: #c9c7c7;
}

.sale__item-detail {
    padding: 15px 0 10px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
}


.sale__item-category-list{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.sale__item-category-list a{
    color: #555555;
}

.sale__item-category-item {
    display: flex;
    line-height: 1.3rem;
}

.sale__item-category-item:nth-child(2) {
    padding: 7px 0;
}

.sale__item-category-more{
    color: #fff;
    font-size: 1rem;
    padding: 2px 8px;
    border-radius: 8px;
    line-height: 1rem;
    margin-left: 12px;
    position: relative;
}

.sale__item-category-more::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: transparent;
    top: 100%;
    left: 0;
}
.sale__item-category-item-more{
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    background-color: #555555;
    color: #fff !important;
    font-size: 1.1rem;
    line-height: 1.6rem;;
    padding: 10px 12px;
    letter-spacing: 0;
}

.sale__item-category-item-more::before{
    content: "";
    position: absolute;
    top: -12px;
    left: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #555555 transparent;
}

.sale__item-category-more:hover .sale__item-category-item-more{
    display: block;
}

.sale__item-price{
    align-self: center;
}

.sale__item-price-old{
    color: #9a9a9a;
    font-size: 2rem;
    line-height: 2.8rem;
    text-decoration: line-through;
    letter-spacing: 1px;
}

.sale__item-price-new{
    color: #555555;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;

}



.sale__item-description{
    margin-top: 20px;
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2.7rem;
}

.sale__item-link{
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.7rem;
    padding: 5px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 68px 70px;
    font-size: 1.4rem;
    color: #9A9A9A;
}

.blog__sub-title{
    line-height: 2.7rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.blog__title {
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: #555555;
    letter-spacing: 1px;
}

.blog__title .underline_element::before{
    top: 76%;
    background-color: #1bbc9b;
}

.blog__list {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    width: calc(50% - 15px);
    display: flex;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    box-sizing: border-box;
}

.blog__item-img{
    width: 50%;
    object-fit: cover;
    object-position: center center;
}

.blog__item-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 2.7rem;
}

.blog__item-sub-title {
    letter-spacing: 2px;
}

.blog__item-title{
    font-size: 2rem;
    color: #555555;
    line-height: 2.5rem;
}

.blog__item-content{
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 2.7rem;   
}

.blog__item-more{
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    margin-top: 20px;
}

.footer{
    background: url(../img/img-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_container{
    padding: 80px 68px;
}

.footer__content{
    padding: 45px 30px;
    background: #fff;
    display: flex;
}

.footer__intro{
    width: 45%;
    padding: 0 15px;
}

.footer_intro-logo{
    width: 150px;
}

.footer__intro-text{
    color: #9A9A9A;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin-top: 28px;
}

.footer__intro-text span{
    text-decoration: underline;
}

.footer__intro-social{
    list-style: none;
    display: flex;
    margin-top: 25px ; 
    padding: 0;
}

.footer_intro-social-link{
    display: block;
    margin-right: 20px;
    font-size: 2.2rem;
    color: #555555;
}

.footer__category {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.footer__category-item {
    display: flex;
    flex-direction: column;
}

.footer__category-heading{
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: #555555;
}

.footer__list {
    list-style: none;
    padding-top: 35px;
}

.footer__item{
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    color: #9a9a9a
}

.footer__item i{
    font-size: 1rem;
    color: #a7a7a7;
    margin-right: 4px;
}

.footer__license{
    background-color: #F3A46B;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__license{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400px;
    letter-spacing: 2px;
}


.buy-link{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #555555;
    width: 65px;
    height: 65px;
    border-radius: 40px;
    color: #fff;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy__price{
    font-size: 2.5rem;
    line-height: 2.5rem;
    transform: translateY(2px);
}

.buy__unit{
    font-size: 0.8rem;
    position: absolute;
    left: 10px;
    top: 15px;
}

.buy__btn{
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 3px 5px;
    position: absolute;
    top: -2px;
}

.buy__icon{
    width: 35px;
    height: 35px;
    background-color: #555555;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -4%;
    left: -32%;
}

.buy__icon img{
    width: 15px;
    height: 15px;
}